In [13]:
import pandas as pd

df = pd.read_csv('./res/clientes_banco.csv')

print(df.describe())
print(df.info())
print(df.head())

        Cliente_ID         Edad         Saldo       Activo  \
count  5500.000000  4947.000000   4944.000000  4949.000000
mean   2501.484000    48.672125  50633.557081     0.499091
std    1441.478876    18.153812  28633.271465     0.500050
min       1.000000    18.000000   1079.450000     0.000000
25%    1254.750000    33.000000  26193.077500     0.000000
50%    2511.500000    49.000000  50715.930000     0.000000
75%    3749.250000    65.000000  75300.707500     1.000000
max    5000.000000    79.000000  99960.220000     1.000000

       Nivel_de_Satisfaccion
count            4947.000000
mean                3.006873
std                 1.404585
min                 1.000000
25%                 2.000000
50%                 3.000000
75%                 4.000000
max                 5.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cliente_ID             5500 non-null   int64
 1   Edad                   4947 non-null   float64
 2   Genero                 4953 non-null   object
 3   Saldo                  4944 non-null   float64
 4   Activo                 4949 non-null   float64
 5   Nivel_de_Satisfaccion  4947 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 257.9+ KB
None
   Cliente_ID  Edad     Genero     Saldo  Activo  Nivel_de_Satisfaccion
0           1  24.0        NaN  72699.44     1.0                    4.0
1           2  52.0   Femenino  15084.72     1.0                    2.0
2           3  44.0   Femenino  44786.12     0.0                    5.0
3           4  27.0        NaN  94585.26     0.0                    2.0
4           5  56.0  Masculino  81708.46     NaN                    5.0

In [8]:
print(f"Valores nulos en id cliente: {df['Cliente_ID'].isnull().sum()}")
print(f"Valores repetidos en id cliente: {df['Cliente_ID'].duplicated().sum()}")

Valores nulos en id cliente: 0
Valores repetidos en id cliente: 500

In [11]:
df = df.drop_duplicates(subset=['Cliente_ID'])
print(df.describe())

        Cliente_ID         Edad         Saldo       Activo  \
count  5000.000000  4500.000000   4500.000000  4500.000000
mean   2500.500000    48.719333  50743.771449     0.494667
std    1443.520003    18.132912  28606.891613     0.500027
min       1.000000    18.000000   1079.450000     0.000000
25%    1250.750000    33.000000  26207.467500     0.000000
50%    2500.500000    49.000000  50951.305000     0.000000
75%    3750.250000    65.000000  75347.030000     1.000000
max    5000.000000    79.000000  99960.220000     1.000000

       Nivel_de_Satisfaccion
count            4500.000000
mean                3.009333
std                 1.404721
min                 1.000000
25%                 2.000000
50%                 3.000000
75%                 4.000000
max                 5.000000

In [15]:
print(f"Valores nulos edad: {df['Edad'].isnull().sum()}")
print(f"Valores nulos genero: {df['Genero'].isnull().sum()}")
print(f"Valores nulos aldo: {df['Saldo'].isnull().sum()}")
print(f"Valores nulos activo: {df['Activo'].isnull().sum()}")
print(f"Valores nulos nivel de satisfaccion: {df['Nivel_de_Satisfaccion'].isnull().sum()}")

Valores nulos edad: 553
Valores nulos genero: 547
Valores nulos aldo: 556
Valores nulos activo: 551
Valores nulos nivel de satisfaccion: 553

In [16]:
df.fillna({'Edad': df['Edad'].mean()}, inplace=True)
df.fillna({'Genero': df['Genero'].mode()[0]}, inplace=True)
df.fillna({'Saldo': df['Saldo'].median()}, inplace=True)
df.fillna({'Activo': df['Activo'].mode()[0]}, inplace=True)
df.fillna({'Nivel_de_Satisfaccion': df['Nivel_de_Satisfaccion'].mean()}, inplace=True)


print(f"Valores nulos edad: {df['Edad'].isnull().sum()}")
print(f"Valores nulos genero: {df['Genero'].isnull().sum()}")
print(f"Valores nulos aldo: {df['Saldo'].isnull().sum()}")
print(f"Valores nulos activo: {df['Activo'].isnull().sum()}")
print(f"Valores nulos nivel de satisfaccion: {df['Nivel_de_Satisfaccion'].isnull().sum()}")

Valores nulos edad: 0
Valores nulos genero: 0
Valores nulos aldo: 0
Valores nulos activo: 0
Valores nulos nivel de satisfaccion: 0

In [17]:
df['Edad'] = df['Edad'].astype(int)
df['Activo'] = df['Activo'].astype(int)
df['Nivel_de_Satisfaccion'] = df['Nivel_de_Satisfaccion'].astype(int)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cliente_ID             5500 non-null   int64
 1   Edad                   5500 non-null   int64
 2   Genero                 5500 non-null   object
 3   Saldo                  5500 non-null   float64
 4   Activo                 5500 non-null   int64
 5   Nivel_de_Satisfaccion  5500 non-null   int64
dtypes: float64(1), int64(4), object(1)
memory usage: 257.9+ KB
None

In [ ]:
df.to_csv('./res/clientes_banco_clean_data.csv', index=False, encoding="utf-8", sep=",")

In [ ]:
'''
Una vez creado el modelo de django y las migraciones a la base de datos esten hechas, 
se ejecuta este script para importar los datos en la base de datos del proyecto.
'''

import sqlite3
import csv

conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

with open('../res/clientes_banco_clean_data.csv', 'r') as file:
    reader = csv.reader(file)
    header = next(reader)

    cursor.executemany('''
        INSERT INTO restapi_cliente (id_cliente, edad, genero, saldo, estado_actividad, nivel_satisfaccion) 
        VALUES (?, ?, ?, ?, ?, ?)
    ''', reader)

conn.commit()
conn.close()